Akses nilai variabel dalam fungsi query

Link Youtoube : https://www.youtube.com/watch?v=5GnsXm8ANts&authuser=0

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows, n_cols)),
                  columns=cols)
df

    A  B   C   D   E
0  16  8   8  15   2
1  11  1   5   8  13
2  14  6  14   7   2
3  18  2  11  10  12
4  14  6  16   7  19

In [3]:
df.query('A > 10')

    A  B   C   D   E
0  16  8   8  15   2
1  11  1   5   8  13
2  14  6  14   7   2
3  18  2  11  10  12
4  14  6  16   7  19

In [4]:
rerata = df['A'].mean()
rerata

14.6

In [5]:
df.query('A > @rerata')

    A  B   C   D   E
0  16  8   8  15   2
3  18  2  11  10  12