Menghitung jumlah baris menurut kriteria tertentu

Link youtube : https://www.youtube.com/watch?v=-u5Yvlt5RvI&authuser=0

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ACBDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  C  B  D  E
0  5  5  8  6  1
1  5  7  2  1  8
2  9  1  7  8  4
3  9  1  7  9  9
4  7  1  4  6  2
5  9  8  8  1  9
6  4  7  3  9  9
7  5  3  4  6  8
8  8  6  2  6  1
9  1  1  7  6  5

In [6]:
(df['A'] < 5).sum()

2

In [7]:
(df['A'] < 5).mean()

0.2