Menata ulang kolom Data Frame

Link youtube : https://www.youtube.com/watch?v=xDTR8XTfP40&authuser=0

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  1  8  3  7  5
1  6  6  2  9  4
2  6  7  7  8  8
3  4  9  4  2  3
4  6  6  3  1  5

In [3]:
df[['D', 'C', 'A', 'E', 'B']]

   D  C  A  E  B
0  7  3  1  5  8
1  9  2  6  4  6
2  8  7  6  8  7
3  2  4  4  3  9
4  1  3  6  5  6

In [4]:
df

   A  B  C  D  E
0  1  8  3  7  5
1  6  6  2  9  4
2  6  7  7  8  8
3  4  9  4  2  3
4  6  6  3  1  5

In [5]:
df = df[['D', 'C', 'A', 'E', 'B']]
df

   D  C  A  E  B
0  7  3  1  5  8
1  9  2  6  4  6
2  8  7  6  8  7
3  2  4  4  3  9
4  1  3  6  5  6