Seleksi weekdays dan weekends pada data deret waktu

Link youtube : https://www.youtube.com/watch?v=7I9DlFkyzVQ&authuser=0

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [2]:
#Berdasarkan video

n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1,20, size=(n_rows, n_cols)),
                  columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df

AttributeError: module 'pandas.util' has no attribute 'testing'

In [4]:
#Revisi mandiri

n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

# Using pd.date_range to create a date index
df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

df.head()

            col1  col2
2024-01-01     8     7
2024-01-02    17     7
2024-01-03    13    13
2024-01-04    19    10
2024-01-05    10     4

In [5]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2024-01-01     8     7
2024-01-02    17     7
2024-01-03    13    13
2024-01-04    19    10
2024-01-05    10     4
2024-01-08     7     8
2024-01-09    15    12

In [6]:
weekdays_df = df[df.index.dayofweek.isin([5,6])]
weekdays_df.head(7)

            col1  col2
2024-01-06     1    10
2024-01-07    15    19
2024-01-13     6     2
2024-01-14    16     3
2024-01-20    19    15
2024-01-21    10     2
2024-01-27     2     3