Seleksi Baris dengan between

Link youtube : https://www.youtube.com/watch?v=yzpARuObplg&authuser=0

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  2  5  3  8  5
1  8  8  3  2  4
2  5  4  6  8  8
3  6  4  4  4  5
4  9  7  3  4  4
5  9  4  2  3  9
6  8  1  1  5  6
7  9  6  3  9  8
8  6  7  9  1  5
9  2  9  8  4  4

In [3]:
df[df['A'].between(2,5)]

   A  B  C  D  E
0  2  5  3  8  5
2  5  4  6  8  8
9  2  9  8  4  4

In [8]:
df[df['A'].between(2,5, inclusive=False)]

ValueError: Inclusive has to be either string of 'both','left', 'right', or 'neither'.