Menyertakan Prefix dan Suffix pada seluruh Kolom Pandas Data Frame

Link youtube : https://www.youtube.com/watch?v=mW6nDCbM2o0&authuser=0

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')
             
df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  9  1  2  9  6
1  1  3  9  4  4
2  3  3  1  9  2
3  1  2  9  8  7
4  2  8  1  7  6

In [4]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [8]:
df.add_prefix('kolom')

   kolomA  kolomB  kolomC  kolomD  kolomE
0       9       1       2       9       6
1       1       3       9       4       4
2       3       3       1       9       2
3       1       2       9       8       7
4       2       8       1       7       6

In [9]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        1        2        9        6
1        1        3        9        4        4
2        3        3        1        9        2
3        1        2        9        8        7
4        2        8        1        7        6