Pemilihan baris (rows selection) pada Data Frame

Link Youtube : https://www.youtube.com/watch?v=GPh8sBGp0FM&authuser=0

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.0.3
1.24.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')
             
df = pd.DataFrame(np.random.randint(1,5, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  2  3  2  4  2
1  1  3  1  2  2
2  4  4  4  2  4
3  2  4  4  3  2
4  2  1  3  1  3
5  3  1  1  1  4
6  3  3  2  3  2
7  3  2  2  4  4
8  3  1  1  4  1
9  1  3  3  2  3

In [3]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
1  1  3  1  2  2
5  3  1  1  1  4
6  3  3  2  3  2
7  3  2  2  4  4
8  3  1  1  4  1
9  1  3  3  2  3

In [4]:
df[df['A'].isin([1,3])]

   A  B  C  D  E
1  1  3  1  2  2
5  3  1  1  1  4
6  3  3  2  3  2
7  3  2  2  4  4
8  3  1  1  4  1
9  1  3  3  2  3

In [5]:
# Jika ditambah 'not' maka tidak berfungsi

df[not df['A'].isin([1,3])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
df[~df['A'].isin([1,3])]